{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/hello">MTA</a>
    </div>
    {% if session.logged_in %}
      <ul class="nav navbar-nav">
        <li><a href="/reviews">Reviews</a></li>
        {% if session.is_admin %}
        <li><a href="/evidence">Evidence</a></li>
        <li><a href="/suggestions">Suggestions</a></li>
        {% else %}
        {% endif %}
      </ul>
    {% else %}
    {% endif %}

    <!--<ul class="nav navbar-nav navbar-center">
      <li><a href="#">{{session.login}}</a></li>
    </ul>--> <!--NECENTRUJE DO STREDU-->

    <ul class="nav navbar-nav navbar-right">
      {% if session.logged_in %}
        {% if session.is_admin %}
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>User Accounts</a></li>
        {% else %}
        {% endif %}
        <li><a href="/changeProfil"><span class="glyphicon glyphicon-cog"></span>Profil</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout {{session.login}}</a></li>
      {% else %}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

{% endblock %}

 

