{% extends 'layout.html' %}

{% block body %}
	<h1>Change password</h1>

	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">
		<div class="form-group">
			{{render_field(form.oldPassword, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.password, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.confirm, class_="form-control")}}
		</div>
		
		<p><input type="submit" class="btn btn-primary "value="Submit"></p>
	</form>
	<br>
{% endblock %}	