{% extends 'layout.html' %}

{% block body %}
	<h1>Change Profil</h1>
	<h2>Username: </h2>
	<h3>Email</h3>
	<br>
	{% from "includes/_formhelpers.html" import render_field %}

	<form method="post" action="">
		<div class="form-group">
			{{render_field(formRole.role, class_="form-control", id="editor") }}
		</div>
		<div class="form-group">
			{{render_field(formUsername.login, class_="form-control") }}
		</div>  
		<input type="submit" class="btn btn-primary "value="Submit"></p>
	</form>
	<br>
{% endblock %}	


