{% extends 'layout.html' %}

{% block body %}
  <h1>Modify Review</h1>
  <p>
    V danom formulari mozme upravit to, ci sa jedna o negativnu/pozitivnu/neutralnu/nespecifikovatelnu recenziu a taktiez mozme navrhnut zmenu vlastnosti, ktorej sa dana recenzia tyka.
  </p>
  <br>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method="post" action="">
    <div class="form-group">
      {{ render_field(form.review_text, class_="form-control", id="editor", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.category, class_="form-control", id="editor", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.sentiment, class_="form-control", id="editor") }}
    </div>
    <div>
      {{ render_field(form.attribute, class_="form-control", id="editor") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}