{% extends "layout.html" %}	

{% block body %}
	<h1>Evidence</h1>
	<p>
		The table shows submitted reviews from users.
	</p>
	<br>

	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">
		<!--
		<input type="checkbox" name="changed-feature"/>Show Changed features
	    <br>
		<input type="checkbox" name="changed-sentiment"/>Show Changed Sentiment
		-->
		<div class="form-group">
			<label for="user">{{ form.attribute.label }}</label>
	    	{{ render_field(form.attribute, class_="form-control", id="editor") }}
	    </div>
	    <div class="form-group">
        <label for="dt1">{{ form.dt1.label }}</label>
        {{ form.dt1(class='datepicker') }}{{ form.hidden_tag() }}
      </div>
      <div class="form-group">
        <label for="dt2">{{ form.dt2.label }}</label>
        {{ form.dt2(class='datepicker') }}{{ form.hidden_tag() }}
      </div>
	    <input class="btn btn-primary" type="submit" value="Show">
	    
	</form>

	<table class="table table-striped">
	  <thead>
	    <tr>
			<th scope="col">ID</th>
		    <th scope="col">Review</th>
		    <th scope="col">Feature</th>
		    <th scope="col">Sentiment</th>
		    <th scope="col">User</th>
		    <th scope="col">Type</th>
		    <th scope="col">Date</th>
	    </tr>
	  </thead>

	  <tbody>
	  	{%for a in users %}
		  	<tr>
		  		<td>{{a.reviews_id}}</td>
			    <td>{{a.recenzia}}</td>
			    <td>{{a.text}}</td>
			    <td>{{a.sentiment}}</td>
			    <td>{{a.name}}</td>
			    <td>{{a.czech_name}}</td>
			    <td>{{a.suggestion_time}}</td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>
	{% if pagination %}
        {{ pagination.links }}
    {% endif %}
</div>
{% endblock %}