{% extends 'layout.html' %}

{% block body %}
  <h1>Login</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" name="login" class="form-control" value={{request.form.login}}>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script type="text/javascript">
  localStorage.clear();</script>
{% endblock %}