{% extends 'layout.html' %}

{% block body %}
  <h1>Modify Review</h1>
  <p>
    The table shows suggestions from users. If you like any of them, press the appropriate Accept button. If you don't like any of the suggestions, use form and edit the review yourself. The changes will be transferred to the database.
  </p>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Suggest Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Suggest Sentiment</th>
        <th scope="col">User</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Accept</th>
      </tr>
    </thead>

    <tbody>
      {%for r in sugg_reviews %}
      <tr>
        <td>{{r.recenzia}}</td>
      <td>{{r.text}}</td>
      <td>{{r.zmena_fea}}</td>
      <td>{{r.sentiment}}</td>
      <td>{{r.zmena_sen}}</td>
      <td>{{r.name}}</td>
      <td>{{r.czech_name}}</td>
      <td>{{r.suggestion_time}}</td>

        <td>
          <form action="/suggestion/submit/{{r.reviews_suggestions_id}}">
            <a class="button">
            <button class="btn btn-success glyphicon glyphicon-ok"></button>
          </a>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method="post" action="">
    <div class="form-group">
      {{ render_field(form.review_text, class_="form-control", id="editor", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.category, class_="form-control", id="category", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.language, class_="form-control", id="language") }}
    </div>
    <div class="form-group">
      {{ render_field(form.attribute, class_="form-control", id="feature") }}
    </div>
    <div class="form-group">
      {{ render_field(form.sentiment, class_="form-control", id="editor") }}
    </div>
    <br>
    <p>
      <input class="btn btn-primary" type="submit" name="action" value="Submit & Accept">
    </p>
  </form>
  <br>
  <h4>Numbers of suggestions for feature and sentiment</h4>
  <div class="col-xs-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Feature</th>
          <th scope="col">Count</th>
        </tr>
      </thead>

      <tbody>
        {%for n in numbers_features %}
          <tr>
            <td>{{n.text}}</td>
            <td>{{n.pocet}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>

  <div class="col-xs-1"></div>  

  <div class="col-xs-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sentiment</th>
          <th scope="col">Count</th>
        </tr>
      </thead>

      <tbody>
        {%for n in numbers_sentiment %}
          <tr>
            <td>{{n.sentiment}}</td>
            <td>{{n.pocet}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>
    
  <script type="text/javascript">
  language_select = document.getElementById('language');
  feature_select = document.getElementById('feature');
  category = document.getElementById('category').value;
  feature = feature_select.value 
  console.log('features_id ' + feature);
  
  language_select.onchange = function(){
   language = language_select.value;
   feature = document.getElementById('feature').value
   console.log( language + " " + feature)
    if (language){
      $.ajax({
          url : '/review/state/' + language + '/' + category ,
          type : 'GET',
          dataType:'json',
          success : function(data) {              
              optionHTML = '';
              for (state of data.statecountry) {
                optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
              }
              //console.log(optionHTML)
              console.log(feature_select)
              feature_select.innerHTML = optionHTML;
              selectElement('feature', feature)
              console.log(feature)
          },
          error : function(request,error)
          {
              alert("Request: "+JSON.stringify(request));
          }
      });
   }else{
      optionHTML = '';
      feature_select.innerHTML = optionHTML;
   }
  }
  function selectElement(id, valueToSelect) {    
            let element = document.getElementById(id);
            console.log('asdfsa ' + valueToSelect)
            element.value = valueToSelect;
        }
</script>
    
  
{% endblock %}