{% extends 'layout.html' %}

{% block body %}
  <h1>Modify Review</h1>
  <p>
    In the form, you can adjust whether it is a negative / positive / neutral / unspecific review. You can also suggest a change feature of the review.
  </p>
  <br>

  {% if suggestions %}
  <h3>Suggestions</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Suggest Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Suggest Sentiment</th>
        <th scope="col">User</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <!--<th scope="col">Accept</th>-->
      </tr>
    </thead>

    <tbody>
      {%for s in suggestions %}
      <tr>
        <td>{{s.recenzia}}</td>
        <td>{{s.text}}</td>
        <td>{{s.zmena_fea}}</td>
        <td>{{s.sentiment}}</td>
        <td>{{s.zmena_sen}}</td>
        <td>{{s.name}}</td>
        <td>{{s.czech_name}}</td>
        <td>{{s.suggestion_time}}</td>
  
<!--
        <td>
          <a class="button" href="suggestion/submit/{{s.reviews_suggestions_id}}">
            <button class="btn btn-success glyphicon glyphicon-ok"></button>
          </a>
        </td>
-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


  {% from "includes/_formhelpers.html" import render_field %}
  <form method="post" action="">
    <div class="form-group">
      {{ render_field(form.review_text, class_="form-control", id="editor", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.category, class_="form-control", id="category", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.language, class_="form-control", id="language") }}
    </div>
    <div class="form-group">
      {{ render_field(form.attribute, class_="form-control", id="feature") }}
    </div>
    <div class="form-group">
      {{ render_field(form.sentiment, class_="form-control", id="editor") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Suggest">
  </form>
  <br>
  {% if returned_suggestions %}
  <h3>Returned suggestions</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Suggest Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Suggest Sentiment</th>
        <th scope="col">User</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <!--<th scope="col">Accept</th>-->
      </tr>
    </thead>

    <tbody>
      {%for s in returned_suggestions %}
      <tr>
        <td>{{s.recenzia}}</td>
        <td>{{s.text}}</td>
        <td>{{s.zmena_fea}}</td>
        <td>{{s.sentiment}}</td>
        <td>{{s.zmena_sen}}</td>
        <td>{{s.name}}</td>
        <td>{{s.czech_name}}</td>
        <td>{{s.suggestion_time}}</td>
  
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if suggestions %}
  <h3>Suggestions stats</h3>
  <div class="col-xs-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Feature</th>
          <th scope="col">Count</th>
        </tr>
      </thead>

      <tbody>
        {%for n in numbers_features %}
          <tr>
            <td>{{n.text}}</td>
            <td>{{n.pocet}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>

  <div class="col-xs-1"></div>  

  <div class="col-xs-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sentiment</th>
          <th scope="col">Count</th>
        </tr>
      </thead>

      <tbody>
        {%for n in numbers_sentiment %}
          <tr>
            <td>{{n.sentiment}}</td>
            <td>{{n.pocet}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>
  {% endif %}

<script type="text/javascript">
  language_select = document.getElementById('language');
  feature_select = document.getElementById('feature');
  category = document.getElementById('category').value;
  feature = feature_select.value //18 features_id
  //42 feature_names_id
  //18 features_id

  language_select.onchange = function(){
   language = document.getElementById('language').value;
   feature = document.getElementById('feature').value
   console.log( language + " " + feature)
   console.log( language + " " + category)
    if (language){
       $.ajax({
          url : '/review/state/' + language + '/' + category ,
          type : 'GET',
          dataType:'json',
          success : function(data) {              
              optionHTML = '';
              for (state of data.statecountry) {
                optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
              }
              //console.log(optionHTML)
              console.log(feature_select)
              feature_select.innerHTML = optionHTML;
              selectElement('feature', feature)
              console.log(feature)
          },
          error : function(request,error)
          {
              alert("Request: "+JSON.stringify(request));
          }
      });
   }else{
      optionHTML = '';
      feature_select.innerHTML = optionHTML;
   }
  }
  function selectElement(id, valueToSelect) {    
            let element = document.getElementById(id);
            element.value = valueToSelect;
        }
</script>

{% endblock %}