{% extends 'layout.html' %}

{% block body %}
  <h1>Modify Review</h1>
  <p>
    In the form you can edit the review yourself. The changes will be transferred to the database.
  </p>
  <br>

  {% from "includes/_formhelpers.html" import render_field %}
  <form method="post" action="">
    <div class="form-group">
      {{ render_field(form.review_text, class_="form-control", id="editor", disabled="disabled") }}
    </div>
    <div class="form-group">
      {{ render_field(form.category, class_="form-control", id="category", disabled="disabled") }}
    </div>
      <div class="form-group">
      {{ render_field(form.language, class_="form-control", id="language") }}
    </div>
    <div class="form-group">
      {{ render_field(form.attribute, class_="form-control", id="feature") }}
    </div>
    <div class="form-group">
      {{ render_field(form.sentiment, class_="form-control", id="editor") }}
    </div>
    <br>
    <p>
      <input class="btn btn-primary" type="submit" name="action" value="Submit & Accept">
    </p>
  </form>

  <script type="text/javascript">
  language_select = document.getElementById('language');
  feature_select = document.getElementById('feature');
  category = document.getElementById('category').value;
  feature = feature_select.value //18 features_id
  //42 feature_names_id
  //18 features_id

  language_select.onchange = function(){
   language = language_select.value;
   feature = document.getElementById('feature').value
   console.log( language + " " + feature)
    if (language){
      $.ajax({
          url : '/review/state/' + language + '/' + category ,
          type : 'GET',
          dataType:'json',
          success : function(data) {              
              optionHTML = '';
              for (state of data.statecountry) {
                optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
              }
              //console.log(optionHTML)
              console.log(feature_select)
              feature_select.innerHTML = optionHTML;
              selectElement('feature', feature)
              console.log(feature)
          },
          error : function(request,error)
          {
              alert("Request: "+JSON.stringify(request));
          }
      });
   }else{
      optionHTML = '';
      feature_select.innerHTML = optionHTML;
   }
  }
  function selectElement(id, valueToSelect) {    
            let element = document.getElementById(id);
            element.value = valueToSelect;
        }
</script>
{% endblock %}