{% extends "layout.html" %}	

{% block body %}
	<h1>Moje Evidence</h1>
	<p>
		V tabulke su zobrazene recenzie, ktore uz boli skontrolovane
	</p>
	<br>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Review</th>
	      <th scope="col">Feature</th>
	      <th scope="col">Suggest Feature</th>
	      <th scope="col">Sentiment</th>
	      <th scope="col">Suggest Sentiment</th>
	      <th scope="col">User</th>
	      <th scope="col">Type</th>
	      <th scope="col">Date</th>
	      <th scope="col">Modify</th>
	    </tr>
	  </thead>

	  <tbody>
	  	{%for a in users %}
		    <tr>
		    	<td>{{a.recenzia}}</td>
			    <td>{{a.text}}</td>
			    <td>{{a.zmena_fea}}</td>
			    <td>{{a.sentiment}}</td>
			    <td>{{a.zmena_sen}}</td>
			    <td>{{a.name}}</td>
			    <td>{{a.czech_name}}</td>
			    <td>{{a.suggestion_time}}</td>
			    <td>
			    	<a class="button" href="/mojeEvidence/{{a.reviews_suggestions_id}}">
			    		<button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
			    	</a>
			    </td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table>
	{{ pagination.links }}
</div>
{% endblock %}