{% extends 'layout.html' %}

{% block body %}
	<h1>Change Profil</h1>
	<h3>{{login}}</h3>
	<h4>{{email}}</h4>
	<br>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">
		<div class="form-group">
			{{render_field(formRole.role, class_="form-control", id="editor") }}
		</div>
		<input type="submit" name="btn" class="btn btn-primary "value="Change"></p>
	</form>

	<form action="" method="post">
        <div class="form-group">
			{{render_field(formPass.password, class_="form-control")}}
		</div>
		<input type="submit" name="btn" class="btn btn-primary "value="Change Password">
    <form>
{% endblock %}	