{% extends 'layout.html' %}

{% block body %}
	<h1>User role: {{role.name}}</h1>
	
	<h1>New User Registration</h1>
	<p>
		The form is used to add a new user, assign the role of a regular user (review correctness) or the role of admin (review correctness, confirmation / modifying reviews)

		Formular sluzi na pridanie noveho uzivatela, ktoremu mame moznost priradit rolu bezneho uzivatela (kontrola spravnosti recenzii) alebo rolu admina (kontrola spravnosti recenzii + potvrdzovanie/editacia navrhov)
	</p>
	<br>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">
		<div class="form-group">
			{{render_field(form.username, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.email, class_="form-control")}}
		</div>  
		<div class="form-group">
			{{render_field(form.password, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.confirm, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.role, class_="form-control", id="editor") }}
		</div>  
		<p><input type="submit" class="btn btn-primary "value="Create user"></p>
	</form>
	<br>

	<h1>Users</h1>
	<p>
		Use Change Admin Role button if you want to change user role from user to admin (viceversa). Use Delete button if you want to delete user.
		Sprava uzivatelov v aplikacii. Tlacitkom "Change Admin Role" sa zmeni rola uzivatela z admina na usera (popripade naopak). Tlacitkom Delete danu osobu vymazeme.
	</p>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">User name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Admin</th>
	      <th scope="col">Edit Profil</th>
	       <th scope="col">Delete</th>
	    </tr>
	  </thead>

	  <tbody>
	  	{%for u in result %}
	    <tr>
		    <td>{{u.name}}</td>
		    <td>{{u.email}}</td>
		    <td>{{u.role}}</td>
		    <td>
				<form method="get" action="{{url_for('change_profil', id=u.users_id)}}">
		    		<button class="btn btn-primary glyphicon glyphicon-wrench"></button>
		    	</form>
		    </td>
		    <td>
				<form method="post" action="{{url_for('delete_user', id=u.users_id)}}">
		    		<button class="btn btn-danger glyphicon glyphicon-trash"></button>
		    	</form>
		    </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

{% endblock %}	