{% extends "layout.html" %} 

{% block body %}
  <h1>Reviews</h1>
  <p>
    V tabulke su zobrazene dane recenzie s priradenou temou (moze byt spravna/nespravna), dalej v stlpci sentiment sa uvadza ci je to pozitivne alebo negativne (moze byt spravne/nemusi).
    Pokial bude vsetko sediet tlacitkom Accept potvrdime spravnost. Tlacitko Edit pouzijeme v tom pripade, ak sa nam nieco nepozdava a chceme to upravit.
  </p>
  <br>
  <!-- LIVE SEARCH for single review by reviews_id
  <div class="col-xs-12">
    <form id="livesearch">
      <label>Search ID</label><br>
      <input type="text" id="livebox" name="search"><br>
    </form><br>
  </div>
  -->
  <form id="Filter1"method="GET">
    {{ form.csrf_token}}  
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email">Search:</label>
        {{ form.search(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="email">Key:</label>
        {{ form.state(class="form-control")}}
      </div>
    </div>
    
    <div id="checkboxes"><br>
      <div class="col-xs-2" style="padding-top: 21px">

      <input type="checkbox" name="rejected" id='checkBox1' /> Rejected Reviews
        <br>
      <input type="checkbox" name="submited" id='checkBox2'/> Submitted Reviews
      <br>
      <input type="checkbox" name="suggested"id='checkBox3'/> Suggested Reviews
      <br>
      <input type="checkbox" name="returned" id='checkBox4'/> Returned Reviews
      </div>

      <div class="col-xs-2" style="padding-top: 21px">
        <input type="checkbox" name="approved" id='checkBox5'/> Approved Reviews
        <br>
        <input type="checkbox" name="unchecked" id='checkBox6' checked="true" /> Unchecked Reviews
        <br>
        <input type="checkbox" name="untouched" id='checkBox7'/> Untouched Reviews
        <br>
      </div>
    </div>
    <input type="submit" value="Filtruj" class="btn btn-success">
  </form> 

  <!--
  <form id="Filter1"method="GET">
    {{ form.csrf_token}}  
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email">Search:</label>
        {{ form.search(class="form-control") }}
      </div>
      <div class="form-group">
        <label for="email">Key:</label>
        {{ form.state(class="form-control")}}
      </div>
    </div>
    
    <div id="checkboxes"><br>
      <div class="col-xs-2" style="padding-top: 21px">

      <input type="checkbox" name="rejected" id='checkBox1' /> Rejected Reviews
        <br>
      <input type="checkbox" name="submited" id='checkBox2'/> Submitted Reviews
      <br>
      <input type="checkbox" name="suggested"id='checkBox3'/> Suggested Reviews
      <br>
      <input type="checkbox" name="returned" id='checkBox4'/> Returned Reviews
      </div>

      <div class="col-xs-2" style="padding-top: 21px">
        <input type="checkbox" name="approved" id='checkBox5'/> Approved Reviews
        <br>
        <input type="checkbox" name="unchecked" id='checkBox6' checked="true" /> Unchecked Reviews
        <br>
        <input type="checkbox" name="untouched" id='checkBox7'/> Untouched Reviews
        <br>
      </div>
    </div>
  </form> -->

  <br>
  <br>
  

  <table class="table " id="telo">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Category</th>
        <th scope="col">Accept</th>
        <th scope="col">Modify</th>
        <th scope="col" id="someelem">More Info</th>
    </thead>

    <tbody id="telo2">
    {% for user in users %}
      {% if user.stav == 1 %}
      <tr class="danger">
      {% elif user.stav == 2 %}
      <tr class="bg-success">
      {% elif user.stav == 3 %}
      <tr class="bg-yellow-light">
      {% elif user.stav == 4 %}
      <tr class="bg-maroon-light">
      {% elif user.stav == 5 %}
      <tr class="bg-lime-light">
      {% else %}
      <tr>
      {% endif%}
        <td>{{user.reviews_id}}</td>
        {% if user.stav == 1 %}
        <td>{{ user.popis }}</td>
        {% else %}
        <td>{{ user.popis }}</td>
        {% endif%}
        <td>{{ user.text }}</td>
        <td>{{ user.sentiment }}</td>
        <td>{{ user.czech_name }}</td>
        {% if user.stav == 1 or user.stav == 2 or user.stav == 5 %}
        <td></td><td></td>
        {% elif user.stav == 3 or user.stav == 4 %}
        <td></td>
        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% else %}
        <td>
          <form method="post" action="{{url_for('submit', id=user.reviews_id)}}">
            <button class="btn btn-success glyphicon glyphicon-ok"></button>
          </form>
        </td>

        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% endif%}

        {% set ns = namespace(found=true) %}
        {% set ok = namespace(found=0) %}
        {% set bad = namespace(found=0) %}
        {% for r in reviews %}
        
          {% if r.id == user.reviews_id %}
            {% set ns.found = false %}
            {% if r.reviews_suggestions_states_id == 2 %}
              {% set ok.found = r.pocet %}
            {% elif r.reviews_suggestions_states_id == 3 %}
              {% set bad.found = r.pocet %}
            {% endif%}
          {% endif%}
        {% endfor %}

        
        <td class="out overout" id="asd">
              <button id="a" class="btn bg-teal-light">................</button>
              <button id="hide" style="display: none">{{ok.found}} &#9989; {{bad.found}}&#10060</button>

            </td>
            </tr>
        
    {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}

<script type="text/javascript">
  $('#someelem').hover(function(e){
      $(this).append('<span style="position:absolute;margin-left:-75px;margin-top:-60px;background:white;padding:5px;border:1px solid gray;border-radius:5px; width: 15%">Number of submited / Number of suggested</span>')
    },
    function(e){
        $('span', this).remove();
    });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    console.log(document.getElementById('state').value);
    console.log(document.getElementById('search').value);
  });

$(document).ready(function(){
    var urlParams = new URLSearchParams(window.location.search);
    search = urlParams.get('search')
    state = urlParams.get('state')
    $('#search').val(search)
   
    search = document.getElementById('search').value
    
    if (search == 'feature'){
     fetch('state/' + search).then(function(response){
    
     response.json().then(function(data) {
     optionHTML = '';
     for (state of data.statecountry) {
      optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
     }
     state_select.innerHTML = optionHTML;
    
    var urlParams = new URLSearchParams(window.location.search);
    var state = urlParams.get('state');
    var state_code = 12
    $("#state").val(state).attr("selected","selected");
    });
     });
   }else if(search =='sentiment'){
      optionHTML = '<option value="' + 'positive' +'">' + 'positive' + '</option>' +
                   '<option value="' + 'negative' +'">' + 'negative' + '</option>' +
                   '<option value="' + 'neutral'  +'">' + 'neutral' + '</option>' +
                   '<option value="' + 'unspecified' +'">' + 'unspecified' + '</option>';
      state_select.innerHTML = optionHTML;
      
    var urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams.get('state')); 
    var state = urlParams.get('state');
    $('[name=state] option').filter(function() { 
        return ($(this).text() == state); 
    }).prop('selected', true);
    
   }else{
      optionHTML = '';
      state_select.innerHTML = optionHTML;
   }
  
});
</script>

<script type="text/javascript">
  search_select = document.getElementById('search');
  state_select = document.getElementById('state');


  search_select.onchange = function(){
   search = search_select.value;
    if (search == 'feature'){
      fetch('state/' + search).then(function(response){
    
     response.json().then(function(data) {
     optionHTML = '';
     for (state of data.statecountry) {
      optionHTML += '<option value="' + state.id +'">' + state.name + '</option>'
     }
     state_select.innerHTML = optionHTML;
    });
     });
    
   }else if(search =='sentiment'){
      optionHTML = '<option value="' + 'positive' +'">' + 'positive' + '</option>' +
                   '<option value="' + 'negative' +'">' + 'negative' + '</option>' +
                   '<option value="' + 'neutral'  +'">' + 'neutral' + '</option>' +
                   '<option value="' + 'unspecified' +'">' + 'unspecified' + '</option>';
      state_select.innerHTML = optionHTML;
   }else{
      optionHTML = '';
      state_select.innerHTML = optionHTML;
   }
   
}
</script>

<script type="text/javascript">
  $(document).ready(function(){
        $("#livebox").on("input",function(e){
          if (!$("#livebox").val()) {
            location.reload();
          }else{
            $("#telo2").empty();
            $(".pagination").hide()
            console.log($("#livebox").val())

              $.ajax({
                method:"post",
                url:"/livesearch",
                data:{text:$("#livebox").val()},
                success:function(res){
                    console.log(res)
                    $.each(res,function(index,value){
                        $('#telo2').append('<tr><td>' +value.reviews_id + '</td>' +
                                           '<td>' + value.popis + '</td>' +
                                           '<td>' + value.text + '</td>' +
                                           '<td>' + value.sentiment + '</td>' +
                                           '<td>' + value.czech_name + '</td>'+
                                           '<td></td>' + '<td>' +
                                           '<a class="button" href="/review/' + value.reviews_id+'"><button action="get" class="btn btn-primary glyphicon glyphicon-wrench"></button></a>'  +'</td>' +
                                           '<td></td>')
                    });
                }
            });
       }});
});
</script>


<script type="text/javascript">
  $("td.overout").mouseover(function() {
    var str = $(this).find("#hide").text();
    var str2 = $(this).find("#a").text();
   
    $(this).find("#hide").text(str2);
    $(this).find("#a").text(str);
  }).mouseout(function(){
    var str2 = $(this).find("#a").text();
    var str = $(this).find("#hide").text();
    
    $(this).find("#a").text(str);
    $(this).find("#hide").text(str2);
  });
</script>

<script>
var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
var $checkboxes = $("#checkboxes :checkbox");

$checkboxes.on("change", function(){
  $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});

$.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});

$("#checkboxes").change(function() {
    $("#Filter1").submit();
});

$("#state").change(function() {
    $("#Filter1").submit();
});
//event.preventDefault();
//localStorage.clear();
</script>
{% endblock %}
