{% extends "layout.html" %} 

{% block body %}
  <h1>Reviews</h1>
  <p>
    The table shows reviews with the assigned topic (can be correct / incorrect), further in the sentiment column it is stated whether it is positive or negative (can be correct / incorrect). If everything fits, confirm with the Accept button. If you don't like something and you want to edit it use the Modify button. 
  </p>
  <br>
  <form id="Filter1" method="GET">
    {{ form.csrf_token}}  
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email">Search:</label>
        {{ form.search(class="form-control",id="search-area", value="") }}
      </div>
      <div class="form-group">
        <label for="email">Key:</label>
        {{ form.state(class="form-control")}}
      </div>
    </div>
    
    <div id="checkboxes" class="col-xs-6"><br>
      <div class="col-xs-5">

      <input type="checkbox" name="rejected" id='checkBox1' /> Rejected Reviews
        <br>
      <input type="checkbox" name="submited" id='checkBox2'/> Submitted Reviews
      <br>
      <input type="checkbox" name="suggested"id='checkBox3'/> Suggested Reviews
      <br>
      <input type="checkbox" name="returned" id='checkBox4' checked="true"/> Returned Reviews
      </div>

      <div class="col-xs-5">
        <input type="checkbox" name="approved" id='checkBox5'/> Approved Reviews
        <br>
        <input type="checkbox" name="unchecked" id='checkBox6' checked="true" /> Unchecked Reviews
        <br>
        <input type="checkbox" name="untouched" id='checkBox7'/> Untouched Reviews
        <br>
      </div>
      <div class="col-xs-2 vcenter">
        <input onclick="resetFilter()" type="reset" value="Reset" class="btn btn-success" style="margin-top:10px">
        <input type="submit" value="Filter" class="btn btn-success" style="margin-top:10px">
      </div>
    </div>
    
  </form> 
  <br>
  <br>
  

  <table class="table " id="telo">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Category</th>
        <th scope="col">Accept</th>
        <th scope="col">Modify</th>
        <th scope="col" id="someelem">More Info</th>
    </thead>

    <tbody id="telo2">
    {% for user in users %}
      {% if user.stav == 1 %}
      <tr class="danger">
      {% elif user.stav == 2 %}
      <tr class="bg-success">
      {% elif user.stav == 3 %}
      <tr class="bg-yellow-light">
      {% elif user.stav == 4 %}
      <tr class="bg-maroon-light">
      {% elif user.stav == 5 %}
      <tr class="bg-lime-light">
      {% else %}
      <tr>
      {% endif%}
        <td>{{user.reviews_id}}</td>
        {% if user.stav == 1 %}
        <td>{{ user.popis }}</td>
        {% else %}
        <td>{{ user.popis }}</td>
        {% endif%}
        {% if user.sug_feature is defined %}
        {% if user.sug_feature is not none %}
        <td>{{ user.sug_feature }}</td>
        {% else %}
        <td>{{ user.text }}</td>
        {% endif%}
        {% else %}
        <td>{{ user.text }}</td> 
        {% endif%}
        {% if user.sug_sentiment is defined %}
        {% if user.sug_sentiment is not none %}
        <td>{{ user.sug_sentiment }}</td>
        {% else %}
        <td>{{ user.sentiment }}</td>
        {% endif%}
        {% else %}
        <td>{{ user.sentiment }}</td>
        {% endif%}
        <td>{{ user.czech_name }}</td>
        {% if user.stav == 1 or user.stav == 2 or user.stav == 5 %}
        <td></td><td></td>
        {% elif user.stav == 3 %}
        <td></td>
        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% elif user.stav == 4 %}
        <td></td>
        <td>
          <a class="button" href="/review/return/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% else %}
        <td>
          <form method="post" action="{{url_for('submit', id=user.reviews_id)}}">
            <button class="btn btn-success glyphicon glyphicon-ok"></button>
          </form>
        </td>

        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% endif%}

        {% set ns = namespace(found=true) %}
        {% set ok = namespace(found=0) %}
        {% set bad = namespace(found=0) %}
        {% for r in reviews %}
        
          {% if r.id == user.reviews_id %}
            {% set ns.found = false %}
            {% if r.reviews_suggestions_states_id == 2 %}
              {% set ok.found = r.pocet %}
            {% elif r.reviews_suggestions_states_id == 3 %}
              {% set bad.found = r.pocet %}
            {% endif%}
          {% endif%}
        {% endfor %}

        
        <td class="out overout" id="asd">
              <button id="a" class="btn bg-teal-light">................</button>
              <button id="hide" style="display: none">{{ok.found}} &#9989; {{bad.found}}&#10060</button>

            </td>
            </tr>
        
    {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}

<script type="text/javascript">
  $('#someelem').hover(function(e){
      $(this).append('<span style="position:absolute;margin-left:-75px;margin-top:-40px;background:white;padding:5px;border:1px solid gray;border-radius:5px; width: 15%">Number of submited / Number of suggested</span>')
    },
    function(e){
        $('span', this).remove();
    });
</script>

<script type="text/javascript">
  $("td.overout").mouseover(function() {
    var str = $(this).find("#hide").text();
    var str2 = $(this).find("#a").text();
   
    $(this).find("#hide").text(str2);
    $(this).find("#a").text(str);
  }).mouseout(function(){
    var str2 = $(this).find("#a").text();
    var str = $(this).find("#hide").text();
    
    $(this).find("#a").text(str);
    $(this).find("#hide").text(str2);
  });
</script>

<script>
var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
var $checkboxes = $("#checkboxes :checkbox");

$checkboxes.on("change", function(){
  $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});

function getUrlParameter() {
    var sPageURL = decodeURIComponent(window.location.search.substring(1));
    var dic ={}
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        console.log(sParameterName);
        key = sParameterName[0];
        value =sParameterName[1];
        if (value == 'on') {
          value='true';
        }//else if (value == ''){
          //value = 'false';
        //}
        dic[key]=value;
    }
    return dic;
}

var x= getUrlParameter();
console.log(x);

/*
$("#checkboxes").change(function() {
    $("#Filter1").submit();
});
*/

$.each(x, function(key, value) {
  $("#" + key).prop('checked', value);
});

/*$.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});



function resetFilter(){
  localStorage.removeItem("checkboxValues");
  localStorage.removeItem("search");
  $("#search-area").val('');
  // $("#Filter1").submit();
}

var urlParams = new URLSearchParams(window.location.search);
    search = urlParams.get('search')
    state = urlParams.get('state')
    console.log(urlParams.get('suggested'))
    console.log($checkboxes)
    $('#search-area').val(search)
    if (state) {
      $("#state").val(state).attr("selected","selected");
    }
    
$(document).ready(function(){
  state_select = document.getElementById('search-area');
  var urlParams = new URLSearchParams(window.location.search);
    search = urlParams.get('search')
    state = urlParams.get('state')
    console.log(state)

    if (state == 'text'){
      console.log('feature')
    }else if (state == 'sentiment'){
      optionHTML = '<option value="' + 'positive' +'">' + 'positive' + '</option>' +
                   '<option value="' + 'negative' +'">' + 'negative' + '</option>' +
                   '<option value="' + 'neutral'  +'">' + 'neutral' + '</option>' +
                   '<option value="' + 'unspecified' +'">' + 'unspecified' + '</option>';
      state_select.innerHTML = optionHTML;
    }else if(state == 'czech_name'){
      console.log('category')
    }
})


//event.preventDefault();
//localStorage.clear();
</script>
{% endblock %}
