{% extends "layout.html" %} 

{% block body %}
  <h1>Reviews</h1>
  <p>
    The table shows reviews with the assigned topic (can be correct / incorrect), further in the sentiment column it is stated whether it is positive or negative (can be correct / incorrect). If everything fits, confirm with the Accept button. If you don't like something and you want to edit it use the Modify button. 
  </p>
  <br>
  <form id="Filter1" method="GET">
    {{ form.csrf_token}}  
    <div class="col-xs-6">
      <div class="form-group">
        <label for="email">Search:</label>
        {{ form.search(class="form-control",id="search-area", value="") }}
      </div>
      <div class="form-group">
        <label for="email">Key:</label>
        {{ form.state(class="form-control")}}
      </div>
    </div>
    
    <div id="checkboxes" class="col-xs-6"><br>
      <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true" multiple>
      <option value="Rejected">Rejected</option>
      <option value="Submited">Submited</option>
      <option value="Suggested">Suggested</option>
      <option selected value="Returned">Returned</option>
      <option value="Approved">Approved</option>
      <option selected value="Unchecked">Unchecked</option>
      <option value="Untouched">Untouched</option>
     </select>
     <br /><br />
     <input type="hidden" name="hidden_skills" id="hidden_skills" />
     <input onclick="resetFilter()" type="reset" value="Reset" class="btn btn-success" style="margin-top:10px">
     <input type="submit" name="submit" class="btn btn-success" value="Submit" />
    </div>
    
  </form> 
  <br>
  <br>
  

  <table class="table " id="telo">
    <thead>
        <th scope="col">Review</th>
        <th scope="col">Feature</th>
        <th scope="col">Sentiment</th>
        <th scope="col">Category</th>
        <th scope="col">Accept</th>
        <th scope="col">Modify</th>
        <th scope="col" id="someelem">More Info</th>
    </thead>

    <tbody id="telo2">
    {% for user in users %}
      {% if user.stav == 1 %}
      <tr class="danger">
      {% elif user.stav == 2 %}
      <tr class="bg-success">
      {% elif user.stav == 3 %}
      <tr class="bg-yellow-light">
      {% elif user.stav == 4 %}
      <tr class="bg-maroon-light">
      {% elif user.stav == 5 %}
      <tr class="bg-lime-light">
      {% else %}
      <tr>
      {% endif%}
        
        {% if user.stav == 1 %}
        <td>{{ user.popis }}</td>
        {% else %}
        <td>{{ user.popis }}</td>
        {% endif%}
        <td>{{ user.text }}</td>
        <td>{{ user.sentiment }}</td>
        <td>{{ user.czech_name }}</td>
        {% if user.stav == 1 or user.stav == 2 or user.stav == 5 %}
        <td></td><td></td>
        {% elif user.stav == 3 %}
        <td></td>
        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% elif user.stav == 4 %}
        <td></td>
        <td>
          <a class="button" href="/review/return/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% else %}
        <td>
          <form method="post" action="{{url_for('submit', id=user.reviews_id)}}">
            <button class="btn btn-success glyphicon glyphicon-ok"></button>
          </form>
        </td>

        <td>
          <a class="button" href="/review/{{user.reviews_id}}">
            <button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
          </a>
        </td>
        {% endif%}

        {% set ns = namespace(found=true) %}
        {% set ok = namespace(found=0) %}
        {% set bad = namespace(found=0) %}
        {% for r in reviews %}
        
          {% if r.id == user.reviews_id %}
            {% set ns.found = false %}
            {% if r.reviews_suggestions_states_id == 2 %}
              {% set ok.found = r.pocet %}
            {% elif r.reviews_suggestions_states_id == 3 %}
              {% set bad.found = r.pocet %}
            {% endif%}
          {% endif%}
        {% endfor %}

        
        <td class="out overout" id="asd">
              <button id="a" class="btn bg-teal-light">................</button>
              <button id="hide" style="display: none">{{ok.found}} &#9989; {{bad.found}}&#10060</button>

            </td>
            </tr>
        
    {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}

<script>
    $(document).ready(function(){
     $('.selectpicker').selectpicker();
     
     $('#skills').change(function(){
      $('#hidden_skills').val($('#skills').val());
     });
     
     $('#multiple_select_form').on('submit', function(event){
      event.preventDefault();
      if($('#skills').val() != '')
      {
       var form_data = $(this).serialize();
       $.ajax({
        url:"/ajax_add",
        method:"POST",
        data:form_data,
        success:function(data)
        {
         //console.log(data);
         $('#hidden_skills').val('');
         $('.selectpicker').selectpicker('val', '');
         alert(data);
        }
       })
      }
      else
      {
       alert("Please select framework");
       return false;
      }
     });
    });
    </script>

<script type="text/javascript">
  $('#someelem').hover(function(e){
      $(this).append('<span style="position:absolute;margin-left:-75px;margin-top:-40px;background:white;padding:5px;border:1px solid gray;border-radius:5px; width: 15%">Number of submited / Number of suggested</span>')
    },
    function(e){
        $('span', this).remove();
    });
</script>

<script type="text/javascript">
  $("td.overout").mouseover(function() {
    var str = $(this).find("#hide").text();
    var str2 = $(this).find("#a").text();
   
    $(this).find("#hide").text(str2);
    $(this).find("#a").text(str);
  }).mouseout(function(){
    var str2 = $(this).find("#a").text();
    var str = $(this).find("#hide").text();
    
    $(this).find("#a").text(str);
    $(this).find("#hide").text(str2);
  });
</script>

<script>
function resetFilter(){
  localStorage.removeItem("checkboxValues");
  localStorage.removeItem("search");
  $("#search-area").val('');
  // $("#Filter1").submit();
}

var urlParams = new URLSearchParams(window.location.search);
    search = urlParams.get('search')
    state = urlParams.get('state')
    $('#search-area').val(search)
    if (state) {
      $("#state").val(state).attr("selected","selected");
    }
    
$(document).ready(function(){
  state_select = document.getElementById('search-area');
  var urlParams = new URLSearchParams(window.location.search);
    search = urlParams.get('search')
    state = urlParams.get('state')
    console.log(state)

    if (state == 'text'){
      console.log('feature')
    }else if (state == 'sentiment'){
      optionHTML = '<option value="' + 'positive' +'">' + 'positive' + '</option>' +
                   '<option value="' + 'negative' +'">' + 'negative' + '</option>' +
                   '<option value="' + 'neutral'  +'">' + 'neutral' + '</option>' +
                   '<option value="' + 'unspecified' +'">' + 'unspecified' + '</option>';
      state_select.innerHTML = optionHTML;
    }else if(state == 'czech_name'){
      console.log('category')
    }
})


//event.preventDefault();
//localStorage.clear();
</script>
{% endblock %}
