{% extends "layout.html" %} 

{% block body %}
   

    <div>
      
      {% for user in users %}
        {% set ns = namespace(found=true) %}
        {% set ok = namespace(found=0) %}
        {% set bad = namespace(found=0) %}
        {% for r in reviews %}
          {% if r.id == user.reviews_id %}
            {% set ns.found = false %}
            {% if r.reviews_suggestions_states_id == 2 %}
              {% set ok.found = r.pocet %}
            {% elif r.reviews_suggestions_states_id == 3 %}
              {% set bad.found = r.pocet %}
            {% endif%}
          {% endif%}
        {% endfor %}
      
        {% if ns.found%}
         <div>{{user.reviews_id}}</div>
         <div>{{ok.found}}</div>  
         <div>{{bad.found}}</div>
         {% else %}
         
      {% endfor %}
    </div>


 
{% endblock %}
