{% extends "layout.html" %}	

{% block body %}
	<h1>Suggestions</h1>
	<p>
		The table shows suggestions from users. The suggest change may relate to feature, sentiment or both. If there is more than one suggestion for review, they are showed with the letter M (Multiply). Use the Accept button to approve the suggestion and the suggestion will modify review in the database. Use the Rework button to return the review to the user for reworking. Use the Modify button if you do not like any of the suggest changes and you want to modify the review yourself. You will also use this button if you have more suggestions for review.
	</p>
	<br>

		{% from "includes/_formhelpers.html" import render_field %}
	<!--<form method="get" action="">
		{{ form.csrf_token}}  
		<div>
	    	{{ render_field(form.attribute, class_="form-control", id="editor") }}
	    </div>
	    <br>
	    <input class="btn btn-primary" type="submit" value="Show">
	</form>-->

	<!--<form id="Filter2" method="GET">-->
	<form id="Filter2" method="POST">
    {{ form.csrf_token}}  
    <div class="col-xs-6">
		<div class="form-group">
			{{ render_field(form.attribute, class_="form-control", id="user") }}
      	</div>
      <div class="form-group">
        <label for="email">Search:</label>
        {{ form.search(class="form-control",id="search-area") }}
      </div>
      <div class="form-group">
        <label for="email">Key:</label>
        {{ form.state(class="form-control",id="feature")}}
      </div>
      <div class="form-group">
        <label for="email">{{ form.dt1.label }}</label>
        {{ form.dt1(class='datepicker', id="dt1") }}{{ form.hidden_tag() }}
      </div>
      <div class="form-group">
        <label for="email">{{ form.dt2.label }}</label>
        {{ form.dt2(class='datepicker', id="dt2") }}{{ form.hidden_tag() }}
      </div>
    </div>
    
    <div id="checkboxes" class="col-xs-6"><br>
      <div class="col-xs-2 vcenter">
      	<input onclick="resetFilter()" type="reset" value="Reset" class="btn btn-success" style="margin-top:10px">
        <input type="submit" value="Filter" class="btn btn-success" style="margin-top:10px">
      </div>
    </div>
    
  </form> 

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Review</th>
	      <th scope="col">Feature</th>
	      <th scope="col">Suggest Feature</th>
	      <th scope="col">Sentiment</th>
	      <th scope="col">Suggest Sentiment</th>
	      <th scope="col">User</th>
	      <th scope="col">Type</th>
	      <th scope="col">Date</th>
	      <th scope="col">Accept</th>
	      <th scope="col">Rework</th>
	      <th scope="col">Modify</th>
	    </tr>
	  </thead>
	  <!--style="text-align: center; vertical-align: middle;"-->
	  <tbody>
	  	{% for s in suggestions%}
	  		{% if s.count > 1 %}
	  		<tr>
	  			<td>{{s.text}}</td>
	  			<td> - </td>
	  			<td>M</td>
	  			<td> - </td>
	  			<td>M</td>
	  			<td> - </td>
	  			<td>{{s.czech_name}}</td>
	  			<td> - </td>
	  			<td>M</td>
	  			<td>M</td>
	  			<td>
		    	<a class="button" href="/suggestions/modify/{{s.reviews_id}}">
		    		<button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
		    	</a>
		    </td>
	  		</tr>
	  		{% else %}
	  			{% for a in result%}
	  				{% if a.reviews_id == s.reviews_id %}
			  		<tr>
			  			<td>{{a.recenzia}}</td>
						<td>{{a.text}}</td>
						<td>{{a.zmena_fea}}</td>
						<td>{{a.sentiment}}</td>
						<td>{{a.zmena_sen}}</td>
						<td>{{a.name}}</td>
						<td>{{a.czech_name}}</td>
						<td>{{a.suggestion_time}}</td>
						<td>
					    	<a class="button" href="suggestion/submit/{{a.reviews_suggestions_id}}">
					    		<button class="btn btn-success glyphicon glyphicon-ok"></button>
					    	</a>
					    </td>
					    <td>
					    	<a class="button" href="/suggestion/{{a.reviews_suggestions_id}}">
					    		<button action='get' class="btn btn-danger glyphicon glyphicon-repeat"></button>
					    	</a>
					    </td>
					    <td>
					    	<a class="button" href="/suggestion/modify/{{a.reviews_suggestions_id}}">
					    		<button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
					    	</a>
					    </td>
			  		</tr>
			  		{% endif %}
		  		{% endfor %}
	  		{% endif %}
	  	{% endfor %}
	  </tbody>
	</table>
</div>

<script type="text/javascript">


function resetFilter(){
	var search = $("#search-area");
	var user = $("#user option:selected");
	var feature = $("#feature option:selected");
	var date1 = $("#dt1");
	var date2 = $("#dt2");

	

	

	$(user).removeAttr('selected');
	$(feature).removeAttr('selected');
	search.attr("value", "");
	date1.attr("value", "");
	date2.attr("value", "");
	
	$('#Filter2')[0].reset();
}
</script>
{% endblock %}