{% extends "layout.html" %}	

{% block body %}
	<h1>Suggestions</h1>
	<p>
		V tabulke su zobrazene navrhy s priradenou temou (moze byt spravna/nespravna), dalej v stlpci sentiment sa uvadza ci je to pozitivne alebo negativne (moze byt spravne/nemusi).
		Pokial bude vsetko sediet tlacitkom Accept potvrdime spravnost a prevedu sa zmeny. Tlacitko Edit pouzijeme v tom pripade, ak sa nam nieco nepozdava a chceme to upravit.
	</p>
	<br>

		{% from "includes/_formhelpers.html" import render_field %}
	<form method="post" action="">
		<div>
	    	{{ render_field(form.attribute, class_="form-control", id="editor") }}
	    </div>
	    <br>
	    <input class="btn btn-primary" type="submit" value="Show">
	</form>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Review</th>
	      <th scope="col">Feature</th>
	      <th scope="col">Suggest Feature</th>
	      <th scope="col">Sentiment</th>
	      <th scope="col">Suggest Sentiment</th>
	      <th scope="col">User</th>
	      <th scope="col">Type</th>
	      <th scope="col">Date</th>
	      <th scope="col">Accept</th>
	      <th scope="col">Rework</th>
	      <th scope="col">Modify</th>
	    </tr>
	  </thead>

	  <tbody>
	  	{%for a in result %}
	    <tr>
		    <td>{{a.recenzia}}</td>
			<td>{{a.text}}</td>
			<td>{{a.zmena_fea}}</td>
			<td>{{a.sentiment}}</td>
			<td>{{a.zmena_sen}}</td>
			<td>{{a.name}}</td>
			<td>{{a.czech_name}}</td>
			<td>{{a.suggestion_time}}</td>

		    <td>
		    	<a class="button" href="suggestion/submit/{{a.reviews_suggestions_id}}">
		    		<button class="btn btn-success glyphicon glyphicon-ok"></button>
		    	</a>
		    </td>
		    <td>
		    	<a class="button" href="/suggestion/{{a.reviews_suggestions_id}}">
		    		<button action='get' class="btn btn-danger glyphicon glyphicon-repeat"></button>
		    	</a>
		    </td>
		    <td>
		    	<a class="button" href="/suggestion/modify/{{a.reviews_suggestions_id}}">
		    		<button action='get' class="btn btn-primary glyphicon glyphicon-wrench"></button>
		    	</a>
		    </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
{% endblock %}